@CHARSET "UTF-8";

#shortcut {
	border-bottom: 1px solid #EEEEEE;
	width: 100%;
	line-height: 30px;
	color: #666666;
	background: none repeat scroll 0 0 #FAFAFA;
}

#shortcut ul {
	margin: 0;
}

#shortcut ul li {
	float: left;
	padding: 0 10px 0 0;
	margin: 0;
}

#head {
	margin: 15px auto;
	height: 60px;
}

#logo {
	float: left;
	position: relative;
	margin-right: 35px;
}

#search {
	width: 510px;
	float: left;
	height: 30px;
}

#searchInput input {
	border: 3px solid #E4393C;
}

#searchInput .text {
	height: 20px;
	padding: 5px;
	border: medium none;
	border: 3px solid #E4393C;
	width: 415px;
	color: #999999;
	font-family: arial, "宋体";
	font-size: 14px;
}

#searchInput .button {
	background: none repeat scroll 0 0 #E4393C;
	padding: 5.5px;
	height: 100%;
	width: 70px;
	border: 3px solid #E4393C;
	font-family: arial, "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}

#hotword span{
	font-weight: bold;
	font-size: 12px;
	color: #999;
}

#hotword a:link,#hotword a:visited{
	font-size: 12px;
	color: #999;
	margin-right: 8px;
}