@CHARSET "UTF-8";

BODY {
	margin: 0;
	font: 12px/150% Arial,Verdana,"宋体";
}

UL,OL {
	list-style: none outside none;
}

a:link, a:visited {
    color: #666666;
    text-decoration: none;
}
a:hover {
    color: #E4393C;
    text-decoration: underline;
}
a:active {
    color: #990000;
}

.width {
	margin: 0 auto;
	width: 1210px;
	height: 30px;
}

.rli{
	padding-left: 0px;
}

.rli span{
	border-left:1px solid #DDDDDD;
	height:12px;
	width: 1px;
	margin-right: 10px;
	overflow: hidden;
}

.fr {
	float: right;
}